{% extends "sequential_analysis_app/master_template.html" %}
{% block content %}
<script type="text/javascript">
  var stage = 0;
</script>
<div class="container">
{% include 'sequential_analysis_app/includes/page_header.html' %}
<p>Hey! Welcome to the website! Well, I wasn't expecting guests. Um, my name is Jishnu. If you find any anomaly in this webapp kindly report it to <a href="mailto:jishnu.jayakumar182@gmail.com">jishnu.jayakumar182@gmail.com</a>.</p>
<form action="uploads/" method='post' enctype="multipart/form-data">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Budget</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Budget" name="budget" value="5000">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile" name="input_file">
     {% if uploaded_file_url %}
    <p class="help-block">File uploaded at: {{ uploaded_file_url }}</p>
    <!--p class="help-block">Result : {{ result }}</p-->
    <p class="help-block">Uploaded file deleted : {{ file_deleted }}</p>
    <h2 style="color:green;">Output <h4><span id="link"></span></h4></h2>
    <div class="table-responsive col-md-3">
    <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Cell_Type</th>
    </tr>
  </thead>
  <tbody>
    

    {% for cell_type in result.cell_type %}

      <tr><th scope="row">{{cell_type}}</th></tr>    
 
    {% endfor %}

</tbody>

</table>
</div>
<div class="table-responsive col-md-3">
    <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>n_io</th>
    </tr>
  </thead>
  <tbody>
    

    {% for n_io in result.n_io_list %}

      <tr><th scope="row">{{n_io}}</th></tr>    
 
    {% endfor %}

</tbody>

</table>
</div>
<div class="table-responsive col-md-3">
    <table class="table">
  <thead class="thead-inverse">
    <tr>
       <th>Mean(N_io)</th>
    </tr>
  </thead>
  <tbody>
    

    {% for mean_N_io in result.mean_N_io_list %}

      <tr><th scope="row">{{mean_N_io}}</th></tr>    
 
    {% endfor %}

</tbody>

</table>
</div>
<div class="table-responsive col-md-3">
    <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>SD(N_io) (iteratons={{result.num_iterations}})</th>
    </tr>
  </thead>
  <tbody>
    

    {% for sd_mean_N_io in result.sd_mean_N_io_list %}

      <tr><th scope="row">{{sd_mean_N_io}}</th></tr>    
 
    {% endfor %}

</tbody>

</table>




  </div>

  <span id="link"></span>
  <style type="text/css">
    
    tr,th,td{

      text-align: center;

    }

  </style>
  <div id="intermediate-stage-result" class="table-responsive col-md-12" style="display: none;">
    <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Stage</th>
      <th>Cell_Type_1</th>
      <th>Cell_Type_2</th>
      <th>Cell_Type_3</th>
      <th>Cell_Type_4</th>
      <th>Cell_Type_5</th>
      <th>Cell_Type_6</th>
      <th>Cell_Type_7</th>
      <th>Cell_Type_8</th>
      <th>Cell_Type_9</th>
      <th>Cell_Type_10</th>
    </tr>
  </thead>
  <tbody>

     {% for inter_stage_status in result.inter_stage_status %}

      <tr>

      <td> 
      
      <script type="text/javascript">
        
        document.write("Stage-" + (++stage));
      </script>

      </td>

        {% for cell_status in inter_stage_status %}

         

            

            <td class="true">
              
              {{cell_status}}

            </td>

            

            <script type="text/javascript">
          
                var elements = document.getElementsByClassName("true");
                var current_element;
                var current_element_value;
                for (var i = 0; i < elements.length; i++) {
                    current_element = elements[i];
                    current_element_value = Math.floor(current_element.innerText);

                    if((current_element_value - 1) > 0){
                      
                      if((current_element_value - 1) <= (stage)){
                      
                        current_element.style.color="red"; 

                      }

                    }else{

                       current_element.style.color="green"; 

                    }

                    current_element.className="false";

                }

            </script>

          

          
          
        {% endfor %}

        
</tr>
       
 
    {% endfor %}

    <script type="text/javascript">
      
    function showIntermediateStage(){

      document.getElementById('intermediate-stage-result').style.display = 'block';

    }      
      
    

    document.getElementById('link').innerHTML="<a href='#intermediate-stage-result' onclick='showIntermediateStage()'>Click to see the intermediate stages</a>";

    </script>

</tbody>



    {% endif %}
   
   
  
</table>

<button type="submit" class="btn btn-primary">Submit</button><br>

</form>
</div>
{% endblock %}