<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sequential_Analysis_Alpha_Version</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="body">
	
	   {% block content %}
	   {% endblock %}
	   {% include 'sequential_analysis_app_2/includes/app_development_status.html' %}	
	   {% include 'sequential_analysis_app_2/includes/world_map.html' %}	
	
</body>
 

</html>
